<div class="row mt-3">


    <div class="col-md-6">
        <h4>Tasks List</h4>
        <ul class="list-group">
            <a class="list-group-item btn btn-link text-secondary" style="text-decoration: none"
                *ngFor="let task of tasks; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveTask(task, i)">
                {{ task.title }}
            </a>
        </ul>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentTask">
            <div class="d-flex justify-content-between mb-3">
                <h4>Selected Task</h4>
                <button class="badge badge-warning" routerLink="/tasks/{{ currentTask._id }}">
                    Edit
                </button>
            </div>

            <div>
                <label><strong>Title:</strong></label> {{ currentTask.title }}
            </div>
            <div>
                <label><strong>Content:</strong></label>
                {{ currentTask.content }}
            </div>
            <div>
                <label><strong>Status:</strong></label>
                {{ currentTask.published ? "Published" : "Pending" }}
            </div>


        </div>

        <div *ngIf="!currentTask" style="margin-top:4em" class="text-center">

            <h5>Please click on a Task...</h5>
        </div>

    </div>
</div>